body{
    background-color: rgb(73, 73, 73);
    max-width: 1600px;
    display: block;
    margin: 0;
}
.business{
    align-items: center;
    width: 100%;

}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: auto;
    padding: 2em;
    width: 100%;
}
.icon{
    max-width: 200px;
    border-radius: 190px;
    border: 7px;
    border-style: solid;
    border-color: rgb(63, 63, 63);
    margin: 0em 2em;
}